<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{% block title %}Dashboard{% endblock %}</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    
        <!-- Include CSS -->
        {% include 'includes/base_css.html' %}
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader-it">
            <div class="la-anim-1"></div>
        </div>
        <!-- /Preloader -->
        <div class="wrapper theme-1-active pimary-color-blue">
            <!-- Include Top Menu Items -->
            {% include 'includes/base_nav.html' %}
            <!-- Left Sidebar Menu -->
            {% include 'includes/base_sidebar.html' %}            
            {% block content %}{% endblock %}
        </div>

        <!-- Include JS -->
        {% include 'includes/base_js.html' %}
    </body>
</html>
