<!-- select2 CSS -->
<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" type="text/css" />
	
<!-- bootstrap-select CSS -->
<link href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />

<!-- multi-select CSS -->
<link href="{{ url_for('static', filename='css/multi-select.css') }}" rel="stylesheet" type="text/css" />

<!-- Bootstrap Datetimepicker CSS -->
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
    
<!-- Bootstrap Daterangepicker CSS -->
<link href="{{ url_for('static', filename='css/daterangepicker.css') }}" rel="stylesheet" type="text/css" />
 

<!-- Data table CSS -->
<link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

<!-- Toast CSS -->
<link href="{{ url_for('static', filename='css/jquery.toast.min.css') }}" rel="stylesheet" type="text/css" />
    
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />