<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left pt-10">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <!-- <li class="navigation-header">
            <span>Main</span> 
            <i class="zmdi zmdi-more"></i>
        </li> -->
        <li>
            <a class="side-menu active" href="javascript:void(0);" data-menu-item="Count"><div class="pull-left"><i class="zmdi zmdi-chart-donut mr-20"></i><span class="right-nav-text">Overview</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a class="side-menu" href="javascript:void(0);" data-menu-item="Load"><div class="pull-left"><i class="zmdi zmdi-spinner mr-20"></i><span class="right-nav-text">Load</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a class="side-menu" href="javascript:void(0);" data-menu-item="Transform"><div class="pull-left"><i class="zmdi zmdi-download mr-20"></i><span class="right-nav-text">Import</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a class="side-menu" href="javascript:void(0);" data-menu-item="Export"><div class="pull-left"><i class="zmdi zmdi-upload mr-20"></i><span class="right-nav-text">Export</span></div><div class="clearfix"></div></a>
        </li>
    </ul>
</div>
<!-- /Left Sidebar Menu -->