<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Moment JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>

<!-- Bootstrap Datetimepicker JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    
<!-- Bootstrap Daterangepicker JavaScript -->
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>

<!-- Form Picker Init JavaScript -->
<script src="{{ url_for('static', filename='js/form-picker-data.js') }}"></script>

<!-- Data table JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>

<script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<!-- Slimscroll JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>

<!-- Progressbar Animation JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>

<!-- Fancy Dropdown JS -->
<script src="{{ url_for('static', filename='js/dropdown-bootstrap-extended.js') }}"></script>

<!-- Sparkline JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}"></script>

<!-- Owl JavaScript -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

<!-- Switchery JavaScript -->
<script src="{{ url_for('static', filename='js/switchery.min.js') }}"></script>

<!-- Select2 JavaScript -->
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>

<!-- Sweetalert2 JavaScript -->
<script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
    
<!-- Bootstrap Select JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>

<!-- Multiselect JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.multi-select.js') }}"></script>

<!-- Form Advance Init JavaScript -->
<script src="{{ url_for('static', filename='js/form-advance-data.js') }}"></script>

<!-- EChartJS JavaScript -->
<script src="{{ url_for('static', filename='js/echarts-en.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/echarts-liquidfill.min.js') }}"></script>

<!-- Toast JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.toast.min.js') }}"></script>

<!-- Init JavaScript -->
<script src="{{ url_for('static', filename='js/init.js') }}"></script>

<!-- Dashborad Data JavaScript -->
<script src="{{ url_for('static', filename='js/dashboard-data.js') }}"></script>